<a href="https://colab.research.google.com/github/kstonny/Lannet-Project/blob/master/Lannet_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Date identifier function###

In [2]:
import pandas as pd
from datetime import datetime
from dateutil import parser
import math as m

In [3]:
data = {'date1':['2015-5-02',"21 June, 2018", '2015/12/29']
,'date2':['2019-6-02',"21 May, 2018", '2010/09/29']
,'date3':['2019-6-02',"21 May, 2018", '2010/09/29']
,'date4':['2019-6-02',"a", '2010/09/29']}
da = pd.DataFrame(data)

In [4]:
# function to calculate the date difference 
#@input data : dataset
def validateDate(data):
    #data cloning 
    originData = data.copy()
    
    #flag to check whether current colunm is having date or not
    isColName = False
    
    #list to carry names of colunms which have date in it
    colName = []
    
    #iterating through the given dataset
    for c in data.columns:
        for i in data.index:
            try:
                #parsing the given date string into date object 
                d = parser.parse(str(data[c][i]))
                
                #converting the date object into interger to get date time in millisecond
                data[c][i] =  to_integer(d)
                isColName = True
            except ValueError:
                data[c][i] = 0
                pass
            
       #checking if colunm have date in it append colName list     
        if isColName:
            colName.append(c)
            isColName = False
    
    #loop to prepare the dataset by substractimg the dates 
    for i in range(0,len(colName)-1):
        newCol = colName[i]+'-'+colName[i+1]
        originData[newCol] = data[colName[i]]-data[colName[i+1]]
        if i == (len(colName)-1)-1:
            newCol = colName[i+1]+'-'+colName[0]
            originData[newCol] = data[colName[i+1]]-data[colName[0]]
    
    #@return given dataset including the date difference colunms between two dates in seconds
    return originData

#function to convert date into seconds
def to_integer(dt_time):
    return 10000*dt_time.year + 100*dt_time.month + dt_time.day

In [5]:
validateDate(da)

           date1         date2  ... date3-date4 date4-date1
0      2015-5-02     2019-6-02  ...           0       40100
1  21 June, 2018  21 May, 2018  ...    20180521   -20180621
2     2015/12/29    2010/09/29  ...           0      -50300

[3 rows x 8 columns]

###Correlation function###

In [6]:
import pandas as pd

In [7]:
data2 = { 'GA':[0.033,0.034,0.035,0.022,0.035,0.033,0.035,0.035], 'PN':[6.652,9.039,10.936,10.11,2.963,10.872,21.694,10.936] , 'PC':[6.681 , 6.224 , 10.304 ,9.603  ,17.156 ,10.244 ,22.389 ,10.304], 'MBP':[ 0.194 ,0.194 ,1.015,1.374, 0.599 ,1.015 ,1.015 ,1.015], 'GR':[0.874 ,1.137 ,0.911 ,0.848 , 0.823 ,0.574 ,0.859, 0.911],'AP':[3.177, 3.4 ,4.9,4.566 ,9.406,4.871,9.259 ,4.5]}

In [8]:
df2 = pd.DataFrame(data2)

In [10]:
df2

      GA      PN      PC    MBP     GR     AP
0  0.033   6.652   6.681  0.194  0.874  3.177
1  0.034   9.039   6.224  0.194  1.137  3.400
2  0.035  10.936  10.304  1.015  0.911  4.900
3  0.022  10.110   9.603  1.374  0.848  4.566
4  0.035   2.963  17.156  0.599  0.823  9.406
5  0.033  10.872  10.244  1.015  0.574  4.871
6  0.035  21.694  22.389  1.015  0.859  9.259
7  0.035  10.936  10.304  1.015  0.911  4.500

In [11]:
def corr_df(x, corr_val):
    '''
    Obj: Drops features that are strongly correlated to other features.
          This lowers model complexity, and aids in generalizing the model.
    Inputs:
          df: features df (x)
          corr_val: Columns are dropped relative to the corr_val input (e.g. 0.8)
    Output: df that only includes uncorrelated features
    '''

    # Creates Correlation Matrix and Instantiates
    corr_matrix = x.corr()
    iters = range(len(corr_matrix.columns) - 1)
    drop_cols = []
    df = pd.DataFrame()
    # Iterates through Correlation Matrix Table to find correlated columns
    for i in iters:
        for j in range(i):
            item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
            col = item.columns
            row = item.index
            val = item.values
            if val >= corr_val:
                # Prints the correlated feature set and the corr val
                print(col.values[0], "|", row.values[0], "|", round(val[0][0], 2))
                drop_cols.append(i)

    print(drop_cols)
    drops = sorted(set(drop_cols))[::-1]
    print(drops)

    # Drops the correlated columns
    for i in drops:
        col = x.iloc[:, (i+1):(i+2)].columns.values
        print(x.drop(col, axis=1))

    return df

In [12]:
corr_df(df2,0.8)

AP | PC | 0.96
[4]
[4]
      GA      PN      PC    MBP     GR
0  0.033   6.652   6.681  0.194  0.874
1  0.034   9.039   6.224  0.194  1.137
2  0.035  10.936  10.304  1.015  0.911
3  0.022  10.110   9.603  1.374  0.848
4  0.035   2.963  17.156  0.599  0.823
5  0.033  10.872  10.244  1.015  0.574
6  0.035  21.694  22.389  1.015  0.859
7  0.035  10.936  10.304  1.015  0.911

Empty DataFrame
Columns: []
Index: []